<div class="card-container">


<mat-card class="card">
    <div>
        <form class="form-container">
            <mat-form-field appearance="fill"  >
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
             
              </mat-form-field>
              <mat-form-field appearance="fill" >
                <mat-label>Img URL</mat-label>
                <input matInput formControlName="imageUrl">
             
              </mat-form-field>
              <mat-form-field >
                <mat-label>Choose an option</mat-label>
                <mat-select formControlName="franchise"> 
                  <mat-option value="marvel">Marvel</mat-option>
                  <mat-option value="dc">DC</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-radio-group aria-label="Select an option" formControlName="gender" >
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
              </mat-radio-group>
        </form>
        <div>
            <img src="#" alt="testing">
        </div>
    </div>
  </mat-card>
</div>